
.grid-container {
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;

    margin-left: 5%;
    margin-right: 5%;
  }

  .graphItem{
    grid-area: 1/1/6/4;
    background-color:rgb(252, 183, 35);

  }