.baseColor {
    background-color: #717e87;
}

/*topnav stuff happpens here*/

.header {
    background-color: #314151;
    color: white;
    padding: 0;
    margin-bottom: 2.5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #314151;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    font-size: 3vh;
    float: left;
}

.navEle {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.right {
    float: right;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(206, 99, 0);
}

#topNavIcon {
    padding-right: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10vh;
}

#tear {
    grid-area: 1/2/2/4;
}

#gears {
    grid-area: 1/7/2/9;
}

.gridItem1 {
    grid-area: 2/1/6/5;
    height: 15vh;
    background-color: #314151;
}

.gridItem2 {
    grid-area: 2/6/6/10;
    height: 15vh;
    background-color: #314151;
}

.gridItem3 {
    grid-area: 6/1/7/5;
    background-color: #314151;

    text-align:center;
    color:white;
    font-size:5vw;
}

.gridItem4 {
    grid-area: 6/6/7/10;
    background-color: #314151;

    text-align:center;
    color:white;
    font-size:5vw;
}
.gridItem5 {
    grid-area: 7/1/8/5;
    background-color: #314151;

    height: 35vh;
}

.gridItem6 {
    grid-area: 7/6/8/10;
    background-color: #314151;

    height: 35vh;
}

.noPaddingNoMargin {
    padding: 0;
    margin: 0;
}

#badPositioning {
    position: relative;
    top: -200px;
    z-index: -1;
}

.infoText{
    font-size:3vw;
}